Flask==1.1.2
Flask-SocketIO==5.3.3
Flask-SQLAlchemy==2.5.1
python-socketio==5.4.1
python-engineio==4.3.1
eventlet==0.33.0
dnspython==2.2.1
werkzeug==1.0.1
jinja2==2.11.3
itsdangerous==2.0.1
SQLAlchemy==1.4.46
markupsafe==2.0.1
opencv-python==4.7.0.72
numpy==1.23.4
