@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #4a4a4a;
}

h1 {
    font-size: 2em;
    margin: 1em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.75em 0;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 0.5em;
}

a {
    text-decoration: none;
    color: #337ab7;
}

.header{ 
    position: fixed;
    height: 60px;
    background: #2C366D;
    color: #FFF;
    padding: 0 20px;
    line-height: 60px;
    font-family: 'Cherry Swash', cursive;
}
