body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
}

.header{
    position: relative;
    height: 60px;
    background: #FFE4C4;
    color: #000000;
    padding: 0 20px;
    line-height: 60px;
}
