<!-- approad.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>画像アップロード</title>
</head>
<body>
    <img src="S_92037122.jpg" alt="CosmeCanvas img">
    <div class="header">cosme canvas</div>
    <h1>画像をアップロード</h1>    
    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">アップロード</button>
    </form>
</body>
</html>
